// Place all the styles related to the Storefront controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  margin-top: -70px;
  background-image: url("http://maxpixel.freegreatpicture.com/static/photo/1x/Hike-Glacier-National-Park-Montana-Mountain-Goats-98144.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10%;
  color: white;
}

.storefront-product-image {
  max-width: 70%;
}
